.Likes__TypeBar{
    background-color: #fff;
    width: 570px;
    height: 350px;
    display: flex;
    text-align: center;
   
}

.Likes__TypeBar-Card{
    padding-left: 40px;
    padding-right: 40px;
   
    
}

.Likes__TypeBar-Card-Info{
    font-family: Helvetica-light;
}

.Likes__Price{
    font-size: 12px;
    margin-bottom: 10px;
}

.Likes__Name{
    font-size: 14px;
    margin-bottom: 10px;
}

.Liked__TypeBar-Wrapper{
    display: flex;
    gap: 50px;
    justify-content: center;
}

.Liked__TypeBar-Item-Main{
    text-align: center;
}

.Liked__TypeBar-Item-Left{
    padding: 10px;
}

.Liked__TypeBar{
    width: 639px;
    height: 338px;
    background-color: #fff;
    color: #676767;
}
